* {
    margin: 0;
}
.searchbar {
    position: relative;
    padding: 2px 0;
}
.mainSearchBar {
    width: 380px;
    height: 100%;
    border: 4px solid #1DC6F6;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
}
.mainSearchBar:focus {
    outline: none;
}